body, html {
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 100%;
	/*background-color:#86DBD5;*/
	background-color:#CCC;
}

canvas {
	max-height: 100%;
	max-width: 100%;
	background-color:#FFFFFF
}